html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  all: unset;
  cursor: pointer; }

*,
input {
  box-sizing: inherit; }

input, button {
  border: none;
  box-sizing: inherit; }
  input:focus, input:active, button:focus, button:active {
    outline: none; }

body {
  position: relative;
  background-color: #F2F2F2;
  z-index: -10; }

.container {
  position: relative;
  width: 100vw;
  height: 100%; }

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  z-index: 10; }

main {
  position: relative;
  height: 100vh;
  top: 3rem;
  display: flex;
  justify-content: center; }

.header {
  width: 100%;
  height: 3rem;
  background: #333333;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header__wrapper {
    width: 75%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    .header__wrapper .header__column {
      display: flex;
      align-items: center; }
      .header__wrapper .header__column:first-child {
        position: relative;
        left: 0;
        display: flex;
        align-items: center;
        position: relative; }
        .header__wrapper .header__column:first-child .logo__container {
          position: relative;
          width: 12rem;
          height: 100%;
          background: #f65368;
          color: white; }
          .header__wrapper .header__column:first-child .logo__container a {
            display: block;
            position: relative;
            width: 100%;
            height: 100%; }
            .header__wrapper .header__column:first-child .logo__container a i {
              position: relative;
              top: 30%;
              left: 12%;
              display: block;
              float: left;
              font-size: 1.3rem; }
            .header__wrapper .header__column:first-child .logo__container a p {
              position: relative;
              top: 30%;
              left: 19%;
              font-weight: bold; }
      .header__wrapper .header__column:nth-child(2) {
        width: 100%;
        display: flex;
        justify-content: center; }
        .header__wrapper .header__column:nth-child(2) input {
          width: 25rem;
          height: 2rem;
          padding-left: 1rem;
          border-radius: .3rem; }
      .header__wrapper .header__column:nth-child(3) {
        position: relative;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: end; }
        .header__wrapper .header__column:nth-child(3) ul {
          position: relative;
          left: 60%; }
          .header__wrapper .header__column:nth-child(3) ul li {
            color: white;
            display: block;
            float: left; }
            .header__wrapper .header__column:nth-child(3) ul li:first-child {
              margin-right: 1.3rem; }
            .header__wrapper .header__column:nth-child(3) ul li:last-child {
              margin-left: 1rem; }

.search-result {
  z-index: 5;
  background: #333333;
  width: 30rem;
  position: absolute;
  top: 3rem; }
  .search-result li {
    color: white;
    width: 100%;
    height: 2rem;
    cursor: pointer;
    position: relative; }
    .search-result li a {
      margin-left: 1rem;
      position: relative;
      top: .5rem;
      display: block;
      font-weight: 200;
      font-size: .8rem; }
      .search-result li a i {
        margin-right: .7rem; }
    .search-result li:hover {
      background: #666666; }

.audio-player {
  position: fixed;
  bottom: 0;
  background-color: #F2F2F2;
  box-shadow: 0.09rem 0 0.1rem rgba(51, 51, 51, 0.3);
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #333333; }
  .audio-player .volume__controls {
    position: absolute;
    left: 3.8rem;
    bottom: 7rem;
    z-index: 5;
    transform: rotate(-90deg);
    transition: height 0.2s cubic-bezier(0.17, 0.72, 0.26, 1.23);
    background: #F2F2F2;
    height: 4rem;
    width: 13rem;
    z-index: 66; }
    .audio-player .volume__controls #volume-progressBar {
      -webkit-appearance: none;
      appearance: none;
      position: relative;
      left: 1rem;
      top: 1.6rem; }
      .audio-player .volume__controls #volume-progressBar::-webkit-progress-bar {
        background-color: grey;
        border-radius: .5rem;
        height: .5rem; }
      .audio-player .volume__controls #volume-progressBar::-webkit-progress-value {
        background-color: #1C5542; }
  .audio-player__column {
    width: 100%; }
    .audio-player__column > * {
      position: relative;
      display: block;
      float: left;
      top: .9rem; }
    .audio-player__column:nth-child(1) * {
      position: relative;
      left: 5rem; }
      .audio-player__column:nth-child(1) *:not(:last-child) {
        margin-right: 3rem; }
    .audio-player__column:nth-child(2) {
      position: relative;
      right: 5rem;
      width: 100%; }
      .audio-player__column:nth-child(2) progress {
        width: 16rem;
        -webkit-appearance: none;
        appearance: none;
        background-color: white;
        height: 5px;
        color: #1C5542; }
        .audio-player__column:nth-child(2) progress::-webkit-progress-bar {
          background-color: white;
          border-radius: 2px;
          border: 1px solid #cccccc;
          color: #1C5542; }
        .audio-player__column:nth-child(2) progress::-webkit-progress-value {
          background-color: #1C5542; }
      .audio-player__column:nth-child(2):nth-child(2) *:not(:last-child) {
        margin-right: 1rem; }
    .audio-player__column:nth-child(3) .audio-player__info {
      position: relative;
      top: .5rem; }
    .audio-player__column:nth-child(3) * {
      display: block; }
      .audio-player__column:nth-child(3) *:not(:last-child) {
        margin-right: 3rem; }
    .audio-player__column:nth-child(3) > img {
      transform: translateY(-30%);
      width: 3rem;
      height: 3rem; }

#carousel__container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: auto;
  overflow: hidden;
  transform: translateX(0) translateY(10vh); }
  #carousel__container #carousel__wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    position: relative;
    transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715); }
    #carousel__container #carousel__wrapper .carousel__element {
      margin-right: 2rem; }
      #carousel__container #carousel__wrapper .carousel__element img {
        width: 10rem;
        height: 10rem; }

.carousel__btn {
  position: absolute;
  font-size: 5rem;
  z-index: 1; }
  .carousel__btn--back {
    top: 50%;
    left: 13%; }
  .carousel__btn--next {
    top: 50%;
    right: 13%; }

.search__container {
  background: white;
  width: 75%;
  min-height: 100%;
  position: relative; }
  .search__container .search__header {
    position: fixed;
    z-index: 5;
    background: white;
    width: 75%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    border-width: 70%;
    border-bottom: 0.05rem solid #cccccc; }
    .search__container .search__header h1 {
      margin-left: 2rem;
      font-size: 1.5rem;
      font-weight: 500;
      display: block; }
  .search__container .search__nav {
    z-index: 25;
    position: fixed;
    border-bottom: 0.05rem solid #cccccc;
    width: 15%;
    height: 15rem; }
    .search__container .search__nav ul {
      transform: translateX(3rem) translateY(6.5rem); }
      .search__container .search__nav ul li {
        cursor: pointer;
        font-size: .9rem;
        margin-bottom: 1rem;
        color: #333333; }
        .search__container .search__nav ul li i {
          margin-right: 1rem; }
  .search__container .search__result {
    width: 100%;
    display: flex;
    justify-content: center; }
    .search__container .search__result .result__container {
      position: absolute;
      top: 15%;
      left: 30%;
      width: 30rem; }
      .search__container .search__result .result__container .artist__container {
        position: relative;
        width: 100%;
        height: 15rem; }
        .search__container .search__result .result__container .artist__container .artist {
          position: absolute;
          top: 9%;
          left: 40%;
          display: inline-block;
          font-size: 1rem;
          font-weight: 500; }
        .search__container .search__result .result__container .artist__container .img__container {
          width: 10rem;
          height: 10rem;
          background: #f65368;
          border-radius: 50%; }
          .search__container .search__result .result__container .artist__container .img__container img {
            width: 100%;
            height: 100%;
            border-radius: 50%; }
      .search__container .search__result .result__container .track__container {
        position: relative;
        width: 100%;
        margin-bottom: 5rem; }
        .search__container .search__result .result__container .track__container img {
          width: 10rem;
          height: 10rem; }
        .search__container .search__result .result__container .track__container i {
          font-size: 2rem;
          color: #f65368;
          position: absolute;
          top: 5%;
          left: 38%;
          display: inline-block; }
        .search__container .search__result .result__container .track__container .artist {
          position: absolute;
          top: 5%;
          left: 48%;
          display: inline-block;
          font-size: .8rem;
          font-weight: 500; }
        .search__container .search__result .result__container .track__container .title {
          position: absolute;
          top: 15%;
          left: 48%;
          display: inline-block;
          font-weight: 500; }

.artist__container {
  position: relative;
  background: white;
  width: 75%;
  height: 100%;
  margin: 0 auto; }
  .artist__container .artist__header {
    position: relative;
    width: 100%;
    height: 16rem; }
    .artist__container .artist__header .artist__photo--back {
      position: relative;
      width: 100%;
      height: 16rem; }
    .artist__container .artist__header .artist__photo--front {
      position: absolute;
      top: 1.5rem;
      left: 1.8rem;
      width: 13rem;
      height: 13rem;
      border-radius: 50%; }
    .artist__container .artist__header .artist__name {
      position: absolute;
      top: 4rem;
      left: 18rem;
      z-index: 1;
      font-size: 2rem;
      text-align: center;
      display: inline-block;
      background: black;
      color: white; }
  .artist__container .artist__nav {
    background: white;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center; }
    .artist__container .artist__nav ul {
      position: relative;
      width: 97%; }
      .artist__container .artist__nav ul li {
        float: left;
        display: block; }
        .artist__container .artist__nav ul li a {
          position: relative;
          font-size: 1.5rem;
          font-weight: 600;
          text-transform: uppercase;
          text-align: center;
          color: #333333;
          margin-left: 3rem;
          display: inline-block; }
          .artist__container .artist__nav ul li a:hover::after {
            text-align: center;
            content: '';
            display: block;
            width: 100%;
            z-index: 10;
            position: absolute;
            top: 2.5rem;
            margin-right: 1.5rem;
            border-bottom: .1rem solid #333333; }
      .artist__container .artist__nav ul::after {
        display: block;
        z-index: 5;
        content: "";
        width: 98%;
        color: #333333;
        position: absolute;
        top: 2.5rem;
        left: 2rem;
        border-bottom: 0.1rem solid #cccccc; }

.home-header {
  display: block;
  position: relative;
  width: 80rem;
  height: 30rem;
  margin: 0 auto;
  background-blend-mode: soft-light;
  background-image: linear-gradient(to right bottom, #f65368, #a1bffd), url("../../MEDIA/adult-architecture-bandana-1371177.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  .home-header .header__logo {
    margin: .5rem 0 0 1.5rem;
    display: inline-block;
    position: relative;
    color: white; }
    .home-header .header__logo .logo--img {
      transform: translateY(15%);
      font-size: 2rem; }
    .home-header .header__logo .logo--title {
      margin-left: .7rem;
      font-weight: 550;
      font-size: 1.2rem; }
  .home-header .header__content {
    position: relative;
    top: 30%;
    color: white; }
    .home-header .header__content--title {
      display: flex;
      justify-content: center;
      font-size: 2.5rem;
      font-weight: 300; }
    .home-header .header__content--description {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      font-size: 1.3rem;
      font-weight: 500;
      display: block;
      text-align: center; }
      .home-header .header__content--description p {
        margin-top: 0.5rem; }
  .home-header .header__signUpBtn {
    position: absolute;
    z-index: 1;
    top: 21rem;
    left: 42%;
    width: 12rem;
    height: 3rem;
    background: #f65368;
    border: none;
    border-radius: 1.3rem;
    color: white;
    font-size: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    cursor: pointer; }
  .home-header .header__line {
    position: absolute;
    top: 0;
    background: #f65368;
    width: 100%;
    height: .3rem; }

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; }
  .modal .modal__container {
    z-index: 3;
    transition: .5s ease-in-out;
    opacity: 0;
    margin: 0 auto;
    position: relative;
    top: 0;
    width: 25rem;
    height: 40rem;
    background: #4d4d4d;
    border-radius: .3rem; }
    .modal .modal__container .modal__header {
      z-index: 6;
      position: relative;
      width: 100%; }
      .modal .modal__container .modal__header .modal__header--closeBtn {
        position: absolute;
        top: -2rem;
        right: 0;
        font-size: 2rem;
        color: #4d4d4d;
        transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1); }
        .modal .modal__container .modal__header .modal__header--closeBtn:hover {
          transform: rotate(90deg); }
      .modal .modal__container .modal__header li {
        position: relative;
        float: left;
        text-align: center;
        width: 50%;
        height: 50px;
        font-size: 1rem;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f65368;
        cursor: pointer; }
        .modal .modal__container .modal__header li a {
          z-index: 10;
          color: #4d4d4d;
          font-weight: 600;
          font-size: 1.3rem;
          display: block;
          position: relative; }
      .modal .modal__container .modal__header .in-active {
        border-radius: .3rem 0 0 0;
        background: #4d4d4d; }
        .modal .modal__container .modal__header .in-active a {
          color: #f65368; }
      .modal .modal__container .modal__header .up-active {
        border-radius: 0 .3rem 0 0;
        background: #4d4d4d; }
        .modal .modal__container .modal__header .up-active a {
          color: #f65368; }
    .modal .modal__container .modal__content {
      position: relative;
      width: 100%;
      height: 100%; }
      .modal .modal__container .modal__content form {
        text-align: center;
        position: absolute;
        top: 13%;
        left: 10%; }
        .modal .modal__container .modal__content form * {
          display: block; }
        .modal .modal__container .modal__content form input,
        .modal .modal__container .modal__content form .social-login {
          padding: .5rem;
          color: #4d4d4d;
          font-size: 1.1rem;
          margin: 0 auto;
          width: 20rem;
          height: 3rem;
          background: #e6e6e6; }
        .modal .modal__container .modal__content form #submit,
        .modal .modal__container .modal__content form .social-login {
          background: #f65368;
          margin-top: 20px;
          font-weight: 600; }
        .modal .modal__container .modal__content form .social-login {
          background: #191919; }
      .modal .modal__container .modal__content #modal-sign-up {
        visibility: hidden; }
      .modal .modal__container .modal__content label {
        font-weight: 600;
        font-size: 1.3rem;
        color: #FB5781;
        margin-bottom: 1rem; }
        .modal .modal__container .modal__content label:not(:first-child) {
          margin-top: 1rem; }
  .modal .open {
    opacity: 1;
    top: 5rem; }
  .modal .close {
    opacity: 0;
    top: 0; }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.user__container {
  background: white;
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin: 0 auto; }
  .user__container > * {
    margin: 0 auto;
    display: block; }
  .user__container .user__header {
    position: relative;
    width: 100%;
    height: 100%; }
    .user__container .user__header .user__photo-container {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%; }
    .user__container .user__header .user__photo--back {
      width: 100%;
      height: 100%;
      filter: blur(0.1rem); }
    .user__container .user__header .user__photo--front {
      position: absolute;
      top: 5%;
      left: 5%;
      width: 13rem;
      height: 13rem;
      border-radius: 50%; }
    .user__container .user__header .user__name {
      position: absolute;
      z-index: 1;
      font-size: 2rem;
      line-height: 3rem;
      top: 10%;
      left: 25%;
      text-align: center;
      display: inline-block;
      background: black;
      color: white; }
    .user__container .user__header .user__bio {
      position: absolute;
      z-index: 1;
      font-size: 1rem;
      top: 50%;
      left: 25%; }
  .user__container .user__nav {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .user__container .user__nav ul {
      position: relative;
      width: 97%; }
      .user__container .user__nav ul li {
        float: left; }
        .user__container .user__nav ul li a {
          position: relative;
          display: block;
          font-size: 1.5rem;
          font-weight: 600;
          text-transform: uppercase;
          text-align: center;
          color: #333333;
          margin-left: 3rem; }
          .user__container .user__nav ul li a:hover::after {
            text-align: center;
            content: '';
            display: inline-block;
            width: 100%;
            z-index: 5;
            position: absolute;
            top: 2.5rem;
            left: 0;
            border-bottom: .05rem solid #333333; }
      .user__container .user__nav ul::after {
        display: inline-block;
        z-index: 1;
        content: "";
        width: 98%;
        color: #333333;
        position: absolute;
        top: 2.5rem;
        left: 2rem;
        border-bottom: 0.05rem solid #cccccc; }

.user__content {
  position: absolute;
  width: 100%;
  height: 15rem;
  top: 45%; }
  .user__content .photo__upload {
    position: absolute;
    top: 0;
    left: 5rem; }
    .user__content .photo__upload input {
      display: none; }
    .user__content .photo__upload label {
      border-radius: 100%;
      display: inline-block;
      z-index: 6;
      position: absolute;
      top: 1rem;
      left: 11rem;
      width: 3rem;
      height: 3rem;
      background-color: white;
      border: 1px solid transparent;
      box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.12);
      cursor: pointer; }
      .user__content .photo__upload label:hover {
        background: #f1f1f1;
        border-color: #d6d6d6; }
    .user__content .photo__upload .photo__upload__preview {
      background: black;
      z-index: 5;
      width: 15rem;
      height: 15rem;
      position: relative;
      border-radius: 100%;
      border: .6rem solid #F8F8F8;
      box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.12); }
  .user__content .user-info__container {
    position: absolute;
    left: 30%; }
    .user__content .user-info__container .user-info {
      display: block;
      margin-bottom: 2rem; }
      .user__content .user-info__container .user-info:not(:nth-child(1)) {
        float: left; }
      .user__content .user-info__container .user-info:last-child {
        position: relative;
        bottom: 7.5rem;
        left: 3rem; }
      .user__content .user-info__container .user-info:last-child input {
        width: 30rem;
        height: 10.5rem;
        position: relative; }
        .user__content .user-info__container .user-info:last-child input ::placeholder {
          position: absolute;
          top: 0; }
    .user__content .user-info__container h2 {
      font-size: 1rem;
      text-transform: uppercase;
      margin-bottom: 1.5rem; }
    .user__content .user-info__container input {
      padding-left: 1rem;
      width: 15rem;
      height: 3rem;
      border-radius: .5rem;
      border: 0.05rem solid #cccccc; }
  .user__content .user__submit {
    position: absolute;
    top: 90%;
    left: 86%; }
    .user__content .user__submit input {
      color: black;
      width: 5rem;
      height: 3rem;
      border-radius: .5rem;
      box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.12); }
