doctype html
html
    head
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.2/css/all.css", integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr", crossorigin="anonymous")
        link(rel="stylesheet", href="ASSETS/CSS/style.css")
        title Soundtopia
    body
        .container
            include ./header
            block content
            include ./footer
        script(type="text/javascript", src="ASSETS/JS/realTime.js")
        script(type="text/javascript", src="ASSETS/JS/searchBar.js")
        script(type="text/javascript", src="ASSETS/JS/audioPlayer.js")
        script(type="text/javascript", src="ASSETS/JS/carousel.js")