header.header
    div.header__wrapper
        div.header__column
            i.fab.fa-soundcloud
            p SOUNDTOPIA
        div.header__column
            form(action=routes.search, method="get")
                input(type="text", placeholder="Search by artists, tracks", name="search")
        div.header__column
            ul
                li
                    a#goToUserDetail(href=`${routes.myPage}`) My Page
                li
                    a(href=`${routes.signOut}`) Sign Out
