header.header
    div.header__wrapper
        div.header__column
            .logo__container
                a(href=`${routes.main}`)
                    i.fab.fa-soundcloud
                    p SOUNDTOPIA
                //- stream, library 여유있으면 추가
        div.header__column
            form(action=routes.search, method="get")
                input#search-input(type="text", placeholder="Search by artists, tracks", name="search")
            ul.search-result
        div.header__column
            ul
                li
                    a#goToUserDetail(href=`${routes.myPage}`) My Page
                li
                    a(href=`${routes.signOut}`) Sign Out

