

    #carousel__container {
        position: relative;
        width: 80%;
        margin: 0 auto;
        height: auto;
        overflow: hidden; 
        transform: translateX(0) translateY(10vh);
        
        #carousel__wrapper{
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            position: relative;
            transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
        
            .carousel__element{
                // float: left;
                margin-right: 2rem;
                
                img {
                    width: 10rem;
                    height: 10rem;
                }
            }
        }
        
    }
    
    .carousel__btn{
        position: absolute;
        font-size: 5rem;
        z-index: 1;

        &--back{
            top: 50%;
            left: 13%;
        }

        &--next{
            top: 50%;
            right: 13%;
        }

        
    }